@font-face {
    font-family: "Poppins Bold";
    src: url("../Pagina-prueba/fuentes/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins Ligh";
    src: url("../Pagina-prueba/fuentes/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../Pagina-prueba/fuentes/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins med";
    src: url("../Pagina-prueba/fuentes/Poppins-Medium.ttf");
}

:root {
    --morado: #5c5adb;
    --morado-fuerte: #3d3c92;
    --lila: #a4a3e7;
    --azul-fuerte: #1d1d36;
    --blanco: #ffffff;
    --negro: #000000;
    --ligh: "Poppins Ligh";
    --bold: "Poppins Bold";
    --reg: "Poppins";
    --med: "Poppins med";
}

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
    font-family: var(--reg);
    list-style: none;
}
header{
    position: fixed;
    z-index: 100;
    background: var(--blanco);
    display: block;
}
.encabezado {
    display: flex;
    width: 100vw;
    height: 115px;
}

.encabezado .encabezado-input {
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 50px 0 0 50px;
}

.encabezado .encabezado-input div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid var(--negro);
}

.encabezado .encabezado-input .encabezado-span {
    display: inline-block;
    width: 30px;
    height: 20px;
}

.encabezado .encabezado-input input {
    display: inline-block;
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: var(--ligh);
}

.encabezado .encabezado-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.encabezado .encabezado-logo span {
    display: inline-block;
    width: 60px;
    height: 70px;
}

.encabezado .encabezado-logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.encabezado .encabezado-logo div h2{
    margin-bottom: 5px;
    font-size: 25px;
    font-family: var(--bold);
}
.encabezado .encabezado-logo div h3{
    width: 100%;
    font-size: 19px;
    font-family: var(--ligh);
}

.encabezado .encabezado-iconos {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 25px;
}
.encabezado .encabezado-iconos a{
    display: inline-block;
}
.encabezado .encabezado-iconos .iconos{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.encabezado .encabezado-iconos a svg {
    width: 25px;
    color: var(--azul-fuerte);
}
.encabezado .encabezado-iconos .iconos-boton{
    color: #000000;
    text-decoration: none;
    font-family: var(--ligh);
    font-size: 16px;
}

header .encabezado-nav{
    display: inline-block;
    width: 100%;
    height: 45px;
    background: var(--azul-fuerte);
    justify-content: space-around;
    align-items: center;
}
header .encabezado-nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 65%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
header .encabezado-nav ul li{
    color: var(--blanco);
    font-size: 16px;
    font-family: var(--ligh);
    cursor: pointer;
}
header .encabezado-nav ul li:hover{
    color: var(--lila);
    transition: 0.5s all;
}
main{
    height: 100vh;
    /* overflow: hidden;
    overflow-y: auto; */
    perspective: 3px;
}
main article, main h2, main p{
    animation: aparecer;
    animation-timeline: view();
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
} 
main .paralax{
    position: relative;
    width: 100%;
    height: 150vh;
    padding-top: 295px;
    padding-left: 110px;
    display: flex;
    /* background: url('img/img1.webp');
    background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* animation: scrol;
    animation-timeline: scroll(); */
/* }
main .paralax::after{
    content: ""; */
    background: url('img/img1.webp');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-attachment: fixed; */
    animation: scrol linear;
    animation-timeline: view();
}

@keyframes scrol {
    0%{
        background-position: top;
    }
    100%{
        background-position: bottom;
        
    }
} 


main .paralax div{
    width: 660px;
    height: 477px;
    padding-top: 106px; 
    padding-left: 54px;       
    display: flex;
    align-items: center;    
    flex-direction: column;
    background-color: var(--morado);

    color: var(--blanco);
}
main .paralax div h1{
    display: inline-block;
    width: 100%;
    height: 100px;
    font-size: 75px;
    font-family: var(--bold);
}
main .paralax div h2{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 40px;
}
main .paralax div button{
    align-self: flex-start;
    height: 46px;
    width: 204px;
    border-radius: 0px;
}
main .paralax div button{
    align-self: flex-start;
    height: 46px;
    width: 204px;
    border-radius: 0px;
    background-color: var(--azul-fuerte);
    border: 1px solid var(--azul-fuerte);
    color: var(--blanco);
}
main .paralax div button:hover{
    border: 1px solid var(--blanco);
    background: var(--morado);
    transition: 0.5s ease-in-out;
}

main .sanitarias{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .sanitarias-header{
    width: 65%;
    margin: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
}
main .sanitarias-header h2{
    font-size: 40px;
    text-align: center;
}
main .sanitarias-header p{
    display: inline-block;
    width: 100%;
    padding: 0 200px;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}
main .sanitarias button{
    align-self: center;
    height: 46px;
    width: 204px;
    border-radius: 0px;
    background-color: var(--morado);
    border: 1px solid var(--morado);
    color: var(--blanco);
}
main .sanitarias button:hover{
    border: 1px solid var(--azul-fuerte);
    background: var(--blanco);
    color: var(--azul-fuerte);
    transition: 0.5s ease-in-out;
}
main .sanitarias-grid{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main .sanitarias-grid article{
    width: 50%;
    min-width: 300px;
    min-width: 500px;
    height: 500px;
    display: inline-block; 
}

main .sanitarias-grid .foto img{
    width: 100%;
    height: 100%;
}
main .sanitarias-grid .info{
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background: var(--azul-fuerte);
}
main .sanitarias-grid .info h2{
    font-size: 38px;
    color: var(--morado);
    padding-bottom: 20px;
}
main .sanitarias-grid .info p{
    color: var(--blanco);
    padding-bottom: 20px;
    line-height: 40px;
    font-size: 16px;
}
main .sanitarias-grid .info button{
    color: var(--blanco);
    padding-bottom: 20px;
}

main .noticias{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .noticias h2{
    width: 65%;
    margin: 80px 0 50px 0;
    text-align: center;
    font-size: 60px;
    font-family: var(--med);
    text-transform: uppercase;
}
main .noticias-fichas{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
main .noticias-fichas .ficha{
    width: 270px;
    height: 285px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main .noticias-fichas .ficha.fi1{
    background: linear-gradient(to top, #1d1d3640, #1d1d3640), url("img/s-4-1.webp");
}
main .noticias-fichas .ficha.fi2{
    background: linear-gradient(to top, #1d1d3640, #1d1d3640), url("img/s-4-2.webp");
}
main .noticias-fichas .ficha.fi3{
    background: linear-gradient(to top, #1d1d3640, #1d1d3640), url('img/s-4-3.webp');
}
main .noticias-fichas .ficha p{
    margin-bottom: 140px;
}
main .noticias-fichas .ficha h3{
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--negro);
}
main .noticias-fichas .ficha div{
    display: flex;
    justify-content: space-between;


}
main .noticias-fichas .ficha div span{
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
}
main .noticias-fichas .ficha div span .ojo::before{
    content: "<()>";
}
main .noticias-fichas .ficha div span .corazon::after{
    content: "<3";
}